body{
   
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header, footer {
    background-image: url("/images/minneapolis.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30px;
    color: black;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
  }
  

  main {
    background: black;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
  
  nav, aside {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    flex-basis: auto;
    margin: 5px;
    text-align: center;
    line-height: 100px;
  }
  
  section {
    background-image:url("/images/minneapolis.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    flex-basis: 100px;
    margin: 5px;
  
    text-align: center;
    line-height: 100px;
    flex-grow: 1;
  }
  #gameAreaDiv{
    background-color: cadetblue;
    width: auto;
  }
  #gameAreaP{
    font-size: 20px;
    color: black;
  }
  
  @media screen and (max-width: 600px) {
    main {
      flex-direction: column;
    }
  
    section {
      order: -1;
    }
  }
  